/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--content-bg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Contenedor Principal */
.container-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

/* Menú lateral */
.sidebar {
    width: 250px;
    background-color: var(--menu-bg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
    width: 90%;
    text-align: center;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: var(--menu-hover-bg);
}

/* Contenedor de la sección principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

/* Formulario */
.container-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 1.5rem;
}

label {
    display: block;
    font-size: 14px;
    color: var(--text-secondary);
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--input-bg);
    color: var(--text-primary);
}

button {
    background-color: var(--button-primary-bg);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-primary-hover);
}

.message {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border-radius: 4px;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container-form {
        padding: 15px;
        max-width: 90%;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}
