/* Reset y estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
}

/* Estilos del encabezado y la barra de navegación */
header {
    background-color:  #63ce66;

    /*background-color: #4CAF50;*/
    padding: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: rgb(29, 71, 71);

    /*background-color: #3e8e41;*/
}

/* Estilos para secciones */
section {
    padding: 40px;
    text-align: center;
    color: #333;
}

/* Estilo del contenido dinámico */
.contenido {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 400px) {
    .contenido {
        padding: 10px;
        margin: 10px auto;
        width: 100%;
    }
}