* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Contenedor general */
.view-data {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Título */
.view-data h1 {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

/* Tabla de datos */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.data-table th, 
.data-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.data-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.data-table tr:hover {
  background-color: #f9f9f9;
}

/* Botones */
.btn {
  text-decoration: none;
  padding: 8px 12px;
  margin: 2px;
  border-radius: 5px;
  font-size: 0.9em;
  display: inline-flex;
  align-items: center;
}

.btn i {
  margin-right: 5px;
}

.btn.delete {
  background-color: #0387bb;
  color: white;
}

.btn.edit {
  background-color: #3498db;
  color: white;
}

.btn.delete:hover {
  background-color: #c0392b;
}

.btn.edit:hover {
  background-color: #02833c;
}
